@import "tailwindcss";

@layer base {
  body {
    @apply scheme-light-dark bg-stone-50 text-zinc-900 dark:bg-zinc-900 dark:text-stone-50;
  }

  #root {
    @apply min-h-screen flex flex-col items-center justify-center p-4;
  }
}